body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Montserrat', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
    font-family: "Roboto";
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
        
}

.link:hover {
  transition: all 0.5s;
  color: rgb(226, 226, 226);
}

.link-mobile {
    font-family: "Roboto";
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
}

.actived {
  border-bottom: 2px solid white;
}

@media only screen and (min-width: 768px) {
  .link-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .link {
    display: none;
  }
}
